<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <add key="client_id" value="613759129428381"/>
    <add key="redirect_uri" value="https://localhost:44393/CallBack/CallBack"/>
    <add key="response_type" value="code"/>
    <add key="client_secret" value="e04a23ae8850232f24c5a57a4e624298"/>
    <add key="localhost" value="https://localhost:44393"/>
    <add key="localhostRedirect" value="http://localhost:4200/"/>
    <add key="fb_token" value="https://www.facebook.com/v5.0/dialog/oauth/?access_token"/>
    <add key="fb_access_token" value="https://graph.facebook.com/v5.0/oauth/access_token?"/>
    <add key="fb_media" value="https://graph.facebook.com/v5.0/me/"/>
    <add key="media_fields" value="name,email,location,feed"/>
    
  </appSettings>
</configuration>


<!--  App token : 613759129428381|4pq86pMExn8wfVZy7TPdU8-7xmM -->
<!--  Access token : EAAIuNe7jIZA0BAFq4XGBCWeAkF0tZCLf7nqblZBnvSSjGGwugjy6cWxY1PPOEQ4ZC0S1I5afGVP5pby8x8RcRc8LfUEV1NEuuUvZAOa5IL4B7bCCIcFU65QZCbe4eV4xKdi4dnLOJff5vvqcY3bPzRTDjvl6QFKZCnjP74Se26zjQZDZD -->